@font-face {
    font-family: "gaming";
    src: url("./gaming.woff") format('woff');
}

#barra-laterale {
    left: 0px;
    width: 250px;
    background-color: #faa61a;
}
img {
    left: 50px;
    position: relative;
    top: 15px;
    border: 10px solid #43b581;
    display: block;
    border-radius: 50%;
}
h2 {
    left: 15px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    font-style: inherit;
}

body {
    background-color: rgb(49, 47, 47);
}

#discord {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 25px;
}

#discord:hover {
    font-size: 30px;
    color: #7289da;
    position: absolute;
    left: 22px;
}

#spotify {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 60px;
}

#spotify:hover {
    font-size: 29px;
    color: #1ed760;
    position: absolute;
    left: 58px;
}

#steam {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 95px;
}

#steam:hover {
    font-size: 29px;
    color: white;
    position: absolute;
    left: 92px;
}