

#barra-laterale {
    left: 0px;
    width: 250px;
    background-color: #81EAF9;
}
img {
    left: 50px;
    position: relative;
    top: 15px;
    border: 10px solid #43b581;
    display: block;
    border-radius: 50%;
}
h2 {
    left: 15px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    font-style: inherit;
}

body {
    background-color: #2B2E3B;
}

#discord {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 25px;
}

#discord:hover {
    font-size: 30px;
    color: #7289da;
    position: absolute;
    left: 22px;
}

#spotify {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 60px;
}

#spotify:hover {
    font-size: 29px;
    color: #1ed760;
    position: absolute;
    left: 58px;
}

#steam {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 95px;
}

#steam:hover {
    font-size: 29px;
    color: white;
    position: absolute;
    left: 92px;
}

#twitch {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 130px;
}

#twitch:hover {
    font-size: 29px;
    color: #6441a5;
    position: absolute;
    left: 128px;
}

#reddit {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 165px;
}

#reddit:hover {
    font-size: 29px;
    color: #ff5700;
    position: absolute;
    left: 163px;
}

#github {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 200px;
}

#github:hover {
    font-size: 29px;
    color: white;
    position: absolute;
    left: 198px;
}