---
import { Image } from 'astro:assets';
import { urls } from '../../urls.ts';
---

<html>
  <head>
    <title>Misty</title>
  </head>
  <body>
    <h1>All Images for Misty</h1>
    <div style="display: flex; flex-wrap: wrap; gap: 1rem;">
      {urls.map((url: string) => (
        <a href={url}>
          <Image src={url} alt="Image" height={200} style={{objectFit: "cover"}} width={300} loading={"lazy"} />
        </a>
      ))}
    </div>
  </body>
</html>
