---
// A hero section for the introduction.
import { ChevronDown } from "lucide-react";
import ScrollIndicator from "./ScrollIndicator.astro";
---

<div
  class="min-h-screen w-screen flex flex-col items-center justify-center border-b border-b-neutral-900"
>
  <h1 class="text-5xl dark:text-white font-semibold">
    Hello, I'm <span
      class="text-transparent font-bold bg-clip-text bg-gradient-to-r from-sky-600 to-indigo-700"
      >StarNumber</span
    >
  </h1>
  <h2 class="text-lg dark:text-gray-600">
    Your friendly neighborhood developer, avgeek and game enjoyer.
  </h2>
  <ScrollIndicator />
</div>
