---
import { Navigation } from "../../src/components/Navigation";
import "../../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="starnumber.lol"
      data-api="/plausible/api/event"
      src="/plausible/js/script.js"></script>
    <script>
      //@ts-ignore
      window.plausible = //@ts-ignore
        window.plausible ||
        function () {
          //@ts-ignore
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>

    <title>StarNumber's Portfolio</title>
  </head>
  <body class="dark:bg-black">
    <Navigation />

    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
